@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>
@{
    ViewBag.Title = "Student Body Statistics";
}
<h2>Student Body Statistics</h2>

<table class="table table-bordered table-striped">
    <tr>
        <td>Enrollment Date</td>
        
        <td>Total Student</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.EnrollmentDate)</td>
            
            <td>@item.StudentCount</td>
        </tr>
        
    }
</table>
